{% extends "base.html" %}
{% block title %}Selections made{% endblock %}
{% block content %}
  <h1>Selections made</h1>
  <p>Welcome to the view of recent lunch selections.  Click on a selection below to see it's details.</p>
  <p>You can also <a href="{% url 'selections:create' %}">create a new lunch selection.</p>
  <hr>
  <div id="selection-list">
      {% include "selections/selection/list_ajax.html" %}
  </div>
{% endblock %}
<!-- infinite scroll functionality -->
{% block domready %}
  var page = 1;
  var empty_page = false;
  var block_request = false;
  $(window).scroll(function() {
    var margin = $(document).height() - $(window).height() - 200;
    if($(window).scrollTop() > margin && empty_page == false &&
    block_request == false) {
     block_request = true;
      page += 1;
      $.get('?page=' + page, function(data) {
        if(data == '') {
          empty_page = true;
        }
        else {
          block_request = false;
          $('#image-list').append(data);
        }
      });
    }
  });
{% endblock %}